.NavBar{
  width: 100%;
  min-height: 1.5rem;
  padding-left: 10px;
  background-color: lightblue;
}

span {
  margin-right: 10px;
  margin-left: 3rem;
}

img {
  width: 10rem;
  height: 10rem;
  margin-top: -3rem;
  margin-bottom: -3rem;
}

.UserIcon {
  text-decoration: none;
}